name: Final Deploy Summymail

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install clasp
        run: npm install -g @google/clasp

      - name: Build Credentials & Push
        env:
          REFRESH_TOKEN: ${{ secrets.CLASPRC_JSON }}
          CLIENT_ID: "1072944905499-vm2v2i5dvn0a0d2o4ca36i1vge8cvbn0.apps.googleusercontent.com"
          CLIENT_SECRET: "v6V3fKV_zWU7iw1DrpO1rknX"
        run: |
          # Δημιουργία του αρχείου απευθείας στον server για να αποφύγουμε σφάλματα μεταφοράς
          echo "{\"tokens\":{\"default\":{\"client_id\":\"$CLIENT_ID\",\"client_secret\":\"$CLIENT_SECRET\",\"refresh_token\":\"$REFRESH_TOKEN\",\"type\":\"authorized_user\"}}}" > ~/.clasprc.json
          
          # Εκτέλεση του push
          clasp push --force
          
          # Δημιουργία νέου Deployment
          clasp deploy --description "Auto-deploy via Refresh Token"
